body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: aqua;
    padding: left 20px;
    padding-right: 20px;
    font-weight: bold;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header **/
header {
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: aqua 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}



header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: aqua;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/*showcase*/
#showcase {
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 85px;
    margin-bottom: 10px;
}


/* newsletter*/
#newletter {
    padding: 15px;
    color: #ffffff;
    background-color: #35424a;
}

#newletter h1 {
    float: left;
}

#newletter form {
    float: right;
    margin-top: 15px;
}

#newletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* boxes*/
#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 90px;
}

/*sidebars*/
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

article#main-col {
    float: left;
    width: 65%
}

/*Services*/
ul#services li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

aside#sidebar .feedback input,
aside#sidebar textarea {
    width: 90%;
    padding: 5px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    background-color: aqua;
    text-align: center;
}


/* media queries*/
@media(max-width:768px) {

    header #branding,
    header nav,
    header nav li,
    #newletter h1,
    #newletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%
    }

    header {
        padding-bottom: 20px;
    }

    #newletter button,.feedback button {
        display: block;
        width: 100%
    }

    #newletter form input[type="email"], .feedback input, .feedback textarea {
        width: 100%;
        margin-bottom: 5px;
    }
}